<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.aortbals.hipchat-emoticons</string>
	<key>connections</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>589F7409-999F-4CD4-9366-769CC59D4917</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE44C3D5-5A08-4E26-A5F5-6677665D3DEF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open hipchat emoticons in your browser</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aaron Ortbals</string>
	<key>description</key>
	<string>Search for hipchat emoticons.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hipchat Emoticons</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>hip</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb {query}</string>
				<key>subtext</key>
				<string>Search hipchat emoticons</string>
				<key>title</key>
				<string>Hipchat Emoticons</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>589F7409-999F-4CD4-9366-769CC59D4917</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://hipchat-emoticons.nyh.name/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE44C3D5-5A08-4E26-A5F5-6677665D3DEF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Version: 0.0.2
Supports: &gt;= Ruby 1.8</string>
	<key>uidata</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>589F7409-999F-4CD4-9366-769CC59D4917</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>CE44C3D5-5A08-4E26-A5F5-6677665D3DEF</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/aortbals/alfred2-hipchat-emoticons-workflow</string>
</dict>
</plist>
